/* Fonts */

@font-face {
  font-family: "Raleway-Regular";
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Raleway-medium";
  src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: "Raleway-bold";
  src: url(../fonts/Raleway-ExtraBold.ttf);
}
@font-face {
  font-family: "Raleway-semibold";
  src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: "Raleway-black";
  src: url(../fonts/Raleway-Black.ttf);
}

:root {
  --primary: #eebf00;
  --secondory: #232b38;
  --ternary: #6c6c6c;
  --danger: #fe4545;
  --pure: #fefefe;
  --light: #f0f0f0;
  --heaven: #ffffff;
  --footer: #2d333f;
}

/* Rest */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    --webkit-font-smoothing:antialiAsed;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}
header.topbar{
    background-color: var(--secondory);
    color: var(--pure);
    font-family: "Raleway-semibold";
    padding: 0.75rem 0;
}
header.topbar .icons a{
    margin: 0.6rem;
}
header.topbar .auth .divider{
    padding:0 1rem;
}
header.topbar .auth > div img{
    margin-right: 0.35rem;
}
header.topbar .auth > div a{
    color: var(--pure);
    text-decoration: none;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.item-center{
    align-items: center;
}
nav .top {
    padding: 1.5rem 0;
}
nav .top .contact h5, nav .top .time h5{
    font-family: "Raleway-black";
    margin-bottom: 0.25rem;
}
nav .top .contact h6, nav .top .time h6{
    font-family: "Raleway-medium";
   letter-spacing: 0.055rem;
   font-size: 0.75rem;
   columns: var(--ternary);
}
nav .top .contact img, nav .top .time img{
margin-right: 1rem;
}

.justify-center{
    justify-content: center;
}
nav .navbar a{
    text-decoration: none;
    color: var(--secondory);
    font-family: "Raleway-semibold";
    font-size: 1rem;
    padding: 1rem 1.5rem;
    transition: all 0.3s ease;
}
nav .navbar a.active{
    background: var(--primary);
    color: var(--pure);
}
nav .navbar a:hover{
    background: var(--primary);
    color: var(--pure);
}
.magic-shadow{
    position: relative;
    background: var(--heaven);
}
.magic-shadow::after{
    content: "";
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -22px;
    z-index: -1;

}
