/* Fonts */

@font-face {
  font-family: "Raleway-Regular";
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Raleway-medium";
  src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: "Raleway-bold";
  src: url(../fonts/Raleway-ExtraBold.ttf);
}
@font-face {
  font-family: "Raleway-semibold";
  src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: "Raleway-black";
  src: url(../fonts/Raleway-Black.ttf);
}

@font-face {
    font-family: "Raleway-extrabold";
    src: url(../fonts/Raleway-ExtraBold.ttf);
  }
:root {
  --primary: #eebf00;
  --secondory: #232b38;
  --ternary: #6c6c6c;
  --danger: #fe4545;
  --pure: #fefefe;
  --light: #f0f0f0;
  --heaven: #ffffff;
  --footer: #2d333f;
}

/* Rest */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  --webkit-font-smoothing: antialiased;
  height: 4000px;
  font-family: "Raleway-regular";

}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}
header.topbar {
  background-color: var(--secondory);
  color: var(--pure);
  font-family: "Raleway-semibold";
  padding: 0.75rem 0;
}
header.topbar .icons a {
  margin: 0.6rem;
}
header.topbar .auth .divider {
  padding: 0 1rem;
}
header.topbar .auth > div img {
  margin-right: 0.35rem;
}
header.topbar .auth > div a {
  color: var(--pure);
  text-decoration: none;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.item-center {
  align-items: center;
}
nav .top {
  padding: 1.5rem 0;
}
nav .top .contact h5,
nav .top .time h5 {
  font-family: "Raleway-black";
  margin-bottom: 0.25rem;
}
nav .top .contact h6,
nav .top .time h6 {
  font-family: "Raleway-medium";
  letter-spacing: 0.055rem;
  font-size: 0.75rem;
  columns: var(--ternary);
}
nav .top .contact img,
nav .top .time img {
  margin-right: 1rem;
}

.justify-center {
  justify-content: center;
}
nav .navbar a {
  text-decoration: none;
  color: var(--secondory);
  font-family: "Raleway-semibold";
  font-size: 1rem;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
}
nav .navbar a.active {
  background: var(--primary);
  color: var(--pure);
}
nav .navbar a:hover {
  background: var(--primary);
  color: var(--pure);
}
.magic-shadow {
  position: relative;
  background: var(--heaven);
}
.magic-shadow::after {
  content: "";
  display: block;
  width: 100%;
  height: 69px;
  background-image: url(../icons/shadow.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -22px;
  z-index: -1;
}

.magic-shadow-sm {
    position: relative;
    background: var(--heaven);
  }
  .magic-shadow-sm::after {
    content: "";
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow-sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -20px;
    z-index: -1;
  }
  .slick-track{
      padding: 1rem 0;
  }
header.hero{
    height: 415px;
    background-image: url(../images/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
header.hero .container{
    position: relative;
}
header.hero .welcome {
    margin-bottom: 0.25rem;
}
header.hero .welcome span{
    font-family: "Raleway-bold";
    columns: var(--secondory);
    margin-right: 0.75rem;
}
header.hero h1{
    font-family: "Raleway-extrabold";
    color: var(--secondory);
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
}
header.hero h1 span{
    color: var(--primary);
}
header.hero p{
    font-family: "Raleway-medium";
    width: 50%;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.btn{
    padding: 0.75rem 0.75rem;
    border-radius: 4px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
}
.btn-primary{
    background-color: var(--primary);
    color: var(--heaven);
}
.btn-primary:hover{
    background-color: var(--heaven);
    color: var(--primary);
    border: 1px solid var(--primary);
}
.btn-secondary{
    background-color: var(--secondory);
    color: var(--heaven);
}
.btn-secondary:hover{
    background-color: var(--heaven);
    color: var(--secondory);
    border: 1px solid var(--secondory);
}
header.hero button:first-child{
    margin-right: 0.50rem;
}
header.hero .hero-image{
    position: absolute;
    top: -40px;
    right: 40px;
}
section{
    padding: 4rem 0;
}
section.top-products{
    background:var(--light);
}
.section-heading{
    font-family: "Raleway-bold";
    text-align: center;
    position: relative;
    margin-bottom: 6rem;
}
.section-heading::after{
    content: "";
    display: block;
    width: 100%;
    height: 35px;
    background-image: url(../icons/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
    bottom: 40px;

}
section.top-products .food-slider .food-card{
    background-color:var(--heaven);
    padding: 1.5rem 0;
    border-radius: 5px;
}
section.top-products .food-slider .food-card .product-image img{
    width: 80%;
    height: 200px;
    object-fit: contain;
    padding-bottom: 1rem 0;

}
hr{
    border:1px solid var(--light);
    opacity: 0.8;
    margin:1rem 0;
}
section.top-products .food-slider .food-card h2{
    font-family: "Raleway-bold";
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
}
.text-center{
text-align: center;

}
section.top-products .food-slider .food-card .star{
    margin-bottom: 0.5rem;
}
section.top-products .food-slider .food-card .star img{
    margin-right: 0.25rem;
}
section.top-products .food-slider .food-card .price{
    font-family: "Raleway-medium";
    color: var(--danger);
    margin-bottom: 1rem;
}
section.top-products .food-slider .food-card button{
    font-family: "Raleway-medium";
    color: var(--secondory);
    background:var(--heaven);
    border:2px solid var(--primary);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 1rem;
    cursor: pointer;
    transition: all 1s ease;
}
section.top-products .food-slider .food-card button:hover{
    background:var(--primary);
    color: var(--heaven);
}
.food-slider .food-card button img{
    background:var(--primary);
    padding: 0.50rem;
    height: 32px;
    margin-right: 1.2rem;
}
.slick-slide{
    margin:0 27px;
}
.slick-list{
    margin:0 -27px;
}
.top-products .slider-btn{
    width: 30px;
    height: 30px;
    background: var(--primary);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
.top-products .slider{
    position: relative;
}
.prev-btn{
    position: absolute;
    top: 46%;
    left: -3rem;
    z-index: 1;
}

.next-btn{
    position: absolute;
    top: 46%;
    right: -3rem;
    z-index: 1;
}
.top-products .btn-wrapper{
    margin-top: 2rem;
}

section.about-meal img{
    width: 80%;
}
.flex-1{
    flex: 1;
}
section.about-meal h2{
    font-family: "Raleway-bold";
    font-size: 1.4rem;
    color: var(--secondory);
    margin-bottom: 2rem;
    line-height: 1,3;
}
section.about-meal p{
    margin-bottom: 4rem;
    line-height: 1.7;
}